body{
    margin: 40px;
    background: rgb(255,173,204);
    background: -moz-linear-gradient(18deg, rgba(255,173,204,1) 0%, rgba(201,245,255,1) 100%);
    background: -webkit-linear-gradient(18deg, rgba(255,173,204,1) 0%, rgba(201,245,255,1) 100%);
    background: linear-gradient(18deg, rgba(255,173,204,1) 0%, rgba(201,245,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffadcc",endColorstr="#c9f5ff",GradientType=1);
    font-family: consolas;
}

#divBeer{
    display: flex;
    justify-content: space-evenly;
}

body {
	height: 100vh;
	overflow: hidden;
}

svg {
	cursor: pointer;
}

.scr table tr td:nth-of-type(odd) svg:hover {
	fill: green;
}

.scr table tr td:nth-of-type(even) svg:hover {
	fill: red;
}

table {
    width: 50%;
    padding: 5px 10px;
}

table:nth-of-type(odd) {
	background: red;
	height: min-content;
} 

table:nth-of-type(even) {
	background: pink;
	height: 60vh;
}

div.scr {
	max-height: 60vh;
	width: min-content;
	overflow: auto;
}