body {
  background-color: #f4f1bb;
}

.nav-container {
  background-color: #ed6a5a;
}

.navbar-brand {
  font-family: "Anton", sans-serif;
  font-size: 1.5em;
  color: #f4f1bb !important;
}

.nav-item > a {
  font-family: "Kanit", sans-serif;
  color: #f4f1bb !important;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px #ed6a5a;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.form-control {
  font-family: "Kanit", sans-serif;
  border-color: #561d25;
  outline: #561d25;
  background-color: #f4f1bb;
  width: 380px;
}

.form-control:focus {
  border-color: #561d25;
  background-color: #f4f1bb;
  box-shadow: 0 0 0 0.1rem #561d25;
}

.btn {
  font-family: "Kanit", sans-serif;
  background-color: #561d25;
  border-color: #561d25;
  color: #f4f1bb;
}

.table {
  margin: auto;
  width: 50% !important;
}

.container {
  background-color: #ed6a5a;
  height: 500px;
  width: 500px;
  margin-top: 50px;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
  
}

form{
  display: grid;
  margin: 10px;
  place-items: center;
}

label,input {
  display: block;
  width: 150px;
  float: left;
  margin-bottom: 5px;
  margin-top: 25px;
}
 
label.pincode{
  width: auto;
  float: none;
  margin-top: 50px;
}


#pincode{
  display: flex;
}

.text{
  background-color: transparent;
  color: black;
  font-weight: 600;
  margin: 10px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 4px;
}

.num{
 background-color: transparent;
 height: 100px;
 width: 50px;
 text-align: center;
 outline: none;
 margin: 5px;
 font-size: medium;
 border: 1px solid gray;
 border-radius: .5rem;
 color: green;
 margin-bottom: 50px;
}

/* .btn{
  height: 100px;
  width: 150px;
  border: 2px solid gray;
  border-radius: .5rem;
  font-size: medium;
  margin-bottom: 20px;
  padding: 5px;
} */

/* .btn:hover{
  font-size: larger;
} */

.space{
  width: 20px;
}

.num:focus,
.num:valid{
  border-color: green;
  border-width: 3px; 
}

